<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <h1>Agenda de Pendientes</h1>
  </div>
  <ion-item>
    <ion-label>Pendientes</ion-label>
    <ion-input [formControl]="pendientes"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>FECHA</ion-label>
    <ion-input type="date" [formControl]="fecha"></ion-input>
  </ion-item>
  <ion-button style="display: flex; ;" (click)="agregar()">Enlistar</ion-button>
  <table>
    <tr *ngFor="let item of items;let indice=index">
      <td> {{indice+1}}
      <td>{{item.pendientes}}</td>
      <td>
        <ion-label>Realizado</ion-label>
        <ion-checkbox></ion-checkbox>
      </td>
    </tr>
  </table>
</ion-content>